# Ignore all files
*

# Except these files and directories
!Dockerfile
!heroku.yml
!app/build/libs/app-1.0-SNAPSHOT-plain.jar

# Optionally, exclude other files that are not needed for the build
!src/
!settings.gradle
!gradle/
!gradlew
!gradlew.bat
